## Area of water poll

In [1]:
length = float(input("enter your length"))
width = float(input("enter your width"))
area = (length*width)
print("the value of area",area,"meter square")

enter your length123.14
enter your width125.67
the value of area 15475.0038 meter square

## Surface area of water poll

In [2]:
r = float(input("enter your radius: "))
surface=4*3.14*r*r
print(f"surface area is {surface} meter cube")

enter your radius: 25
surface area is 7850.0 meter cube

## Salery of labour

In [3]:
per_meter = 150
salery = (area/per_meter)
print (int,salery)

<class 'int'> 103.166692

## unit convert

In [6]:
convert_unit = surface*1000
print("convert unit is: ",convert_unit)

convert unit is:  7850000.0

## Total prosess are here

In [7]:
print(f"""
the area is: {area} : meter cube
the surface area is: {surface} : meter cube  
male salery: {salery} : 
convert inton leter: {convert_unit} : leter

""")

the area is: 15475.0038 : meter cube
the surface area is: 7850.0 : meter cube
male salery: 103.166692 :
convert inton leter: 7850000.0 : leter

# Project complete